.box {
  position: fixed;
  width: 1440px;
  height: 772px;
  top: 0;
  left: 0;
  background-image: linear-gradient(
      rgba(0.38, 24.91, 87.97, 0),
      rgba(0, 0, 0, 1)
    ),
    url("./img/Rectangle.png");
  background-size: cover;
  background-position: center;
}

.button-top {
  position: fixed;
  width: 286px;
  height: 57px;
  top: 38px; /* Встановлюємо відступ зверху на 38 пікселів */
  right: 52px; /* Встановлюємо відступ справа на 52 пікселя */
  background-color: #ffffff;
  border-radius: 100px;
  cursor: pointer;
}

.register {
  height: 30px;
  top: 0;
  left: 0;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #001857;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}
