.box {
  display: flex;
  flex-direction: row-reverse; 
  align-items: flex-start;
  justify-content: space-between;
  height: 100vh;
  background-image: linear-gradient(
      rgba(0.38, 24.91, 87.97, 0),
      rgba(0, 0, 0, 1)
    ),
    url("./img/Rectangle.png");
  background-size: cover;
  background-position: center;
}

.button-top {
  width: 286px;
  height: 57px;
  background-color: #ffffff;
  border-radius: 100px;
  cursor: pointer;
  margin-top: 38px;
  margin-right: 52px;
}

.register {
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #001857;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.main-info {
  display: flex;
  align-items: flex-start;
  margin-top: 208px;
  margin-left: 122px;
}

.logo {
  width: 80px;
  height: 120px; 
}

.main-text {
  margin-left: 39px;
}

.title {
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}

.subtitle {
  display: block;
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: relative;
}

.little-info {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}

.register-2 {
  background: #ffffff;
  border-radius: 100px;
  width: 286px;
  height: 57px;
  position: relative;
}

.btn-txt {
  color: #001958;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.attention {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
