.box {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Змінено націлення вправо */
  justify-content: flex-start; /* Змінено націлення вгору */
  height: 100vh;
  background-image: linear-gradient(
      rgba(0.38, 24.91, 87.97, 0),
      rgba(0, 0, 0, 1)
    ),
    url("./img/Rectangle.png");
  background-size: cover;
  background-position: center;
}

.button-top {
  width: 286px;
  height: 57px;
  background-color: #ffffff;
  border-radius: 100px;
  cursor: pointer;
  margin-top: 38px;
  margin-right: 52px; /* Залишено відстань зправа */
}

.register {
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #001857;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.main-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Змінено націлення вліво */
  text-align: left; /* Додано цей рядок для ліворуч вирівнювання тексту */
  margin-left: 39px; /* Додано відстань зліва */
  margin-top: 20px; /* Додано відстань зверху */
}

.logo {
  width: 80px;
  height: 120px;
  margin-right: 39px; /* Залишено відстань справа */
}

.title {
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}
